.dither-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* Background layer */
}

/* Ensure canvas takes full space */
.dither-container canvas {
    width: 100% !important;
    height: 100% !important;
}